// color
$txt-color1: #090915;
$txt-color2: #4B5E75;
$txt-color3: #656C73;
$txt-color4: #818EA0;
$txt-color5: #CCD0D7;
$txt-color6: #D3D9FF;
$color-main: #4159F7;
$color-yellow: #F3A827;
$color-green: #4BE443;
$color-red: #D20D24;
$color-star: #EDD815;
$btn-color: #3E3EF4;

// fontSize
$fontSize1: 30px;
$fontSize2: 28px;
$fontSize3: 24px;
$fontSize4: 20px;
$fontSize5: 18px;
$fontSize6: 16px;
$fontSize7: 14px;
$fontSize8: 12px;

// layout
$layoutTransTime: .46s;
$layoutTransEffect: ease-in-out;

$layout-paddingTop: 8%;
$layout-paddingRight: 10.28%;
$layout-paddingBottom: 0;
$layout-paddingLeft: 21.8%;

$layout-top-height: 39%;
$layout-top-topbar-height: 80px;
$layout-top-topbar-paddingTop: 2%;

$layout-bottom-height: 61%;

$view-wrap-paddingTop: 60px;
$view-wrap-zIndex: 3;

$halfscreen-layout-paddingLeft: 70px;
$halfscreen-layout-paddingRight: 10px;
$halfscreen-layout-top-topbar-height: 60px;

// bounce effect
$transEffect: cubic-bezier(0, 0, 0.14, 0.98);